:root {
    --fond-header: #f9f9f9;
    --bordure-article: #eaeaea;
    --see-through: rgba(81, 81, 82, 0.5);

    --WORK: #0766F0;
    --TEAM: #DC5E53;
    --NEWS: #98DC62;

    --font-family: "Poppins", sans-serif;

    --small-size: 1rem;
    --medium-size: 1.5rem;
    --bigger-size: 2rem;
    --huge-size: 4rem;
}

body {
    color: var(--fond-header);
    font-family: var(--font-family);
}

.container {
    display: flex;
}

.hello {
    display: flex;
    flex-direction: column;
    background-image: url('images/nicole.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: center center;
    height: 100vh;
    position: fixed;
    width: 50%;
    padding: var(--font-size);
}

.hello-title {
    color: var(--fond-header);
    background-image: url('images/onews.svg');
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: var(--medium-size);
    padding-left: var(--huge-size);
    margin-top: var(--medium-size);
    margin-left: var(--medium-size);
    width: var(--huge-size);
}

.hello-menu {
    display: flex;
    justify-content: flex-end;
}

.hello-menu a {
    color: var(--photo-contrast);
    text-decoration: none;
    margin-left: var(--huge-size);
    font-weight: var(--huge-size);
}

.hello-news {
    background-color: var(--see-through);
    text-align: right;
    line-height: var(--medium-size);
}

.hello-news h2 {
    font-size: var(--medium-size);
}

.hello-news span {
    font-size: var(--small-size);
    font-style: italic;
}